[package]
name = "s3rs"
version = "0.2.3"
authors = ["Antonio Yang <yanganto@gmail.com>"]
description = "A s3 cli client with multi configs with diffent provider"
keywords = ["S3", "Amazon", "ceph", "AWS"]
categories = ["command-line-interface"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/yanganto/s3rs"
edition = "2018"

[dependencies]
dirs = "2.0"
openssl = { version = "0.10", features = ["vendored"] }
openssl-sys = { version = "*",  features = ["vendored"] }
interactor = "0.1"
toml = "0.4"
serde = "1.0"
serde_derive = "1.0"
reqwest = "0.9"
hyper = "0.11"
http = "0.1"
chrono = "0.4"
rust-crypto = "0.2"
hmac = "0.4"
sha2 = "0.6"
base64 = "0.6"
rustc-serialize = "0.3"
hmac-sha1 = "0.1"
url = "1.7"
log = "0.4"
md5 = "0.3"
serde_json = "1.0"
regex = "0.2"
quick-xml = "0.12"
colored = "1.6"
s3handler = "0.2.3"

# Patch for s3handler
#[patch.crates-io]
# s3handler = { path = "../s3handler" }
# s3handler = { git = "https://github.com/yanganto/s3handler", branch = "master" }
