[[credential]]
s3_type = "aws"
host = "s3.us-east-2.amazonaws.com"
user = "JournalMaker"
access_key = "AKIAII3AML3XMTB4MTKQ"
secrete_key = "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"
region = "us-east-2"

[[credential]]
s3_type = "ceph"
host = "10.1.12.243"
user = "admin"
access_key = "L2D11MY86GEVA6I4DX2S"
secrete_key = "MBCqT90XMUaBcWd1mcUjPPLdFuNZndiBk0amnVVg"
